doctype html
html(lang="en")
  head
    title= title + ' | ' + appname
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

  body
    .container
      .navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href='/')= appname
      .alert.alert-dismissable
      h1= title
      p Welcome to my first Todo App using 
        a(href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjg_dXmpM3RAhUH5YMKHbs8CpgQFggaMAA&url=https%3A%2F%2Fnodejs.org%2F&usg=AFQjCNHwipVu3o5mtW8Tqz3ihvWKAskslQ&sig2=n2Hf522nyZHLWzxEXchhgw&bvm=bv.144224172,d.amc') node
        |  and mongodb Please enjoy.
      block content
  script(src='/javascripts/jquery.js', type="text/javascript")
  script(src='/javascripts/main.js', type="text/javascript")
